* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #eef4f7;
  min-height: 100vh;
  padding: 30px;
}
.travel-guide-heading {
  text-decoration: underline;
  text-align: center;
  text-decoration-color: #52bbf0;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.loader {
  align-self: center;
}
.list-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
